	
/*
Flag box - sizing with 1 px border
*/

.flag-border {
	width: 200px;
	height: 125px;
	border: 1px solid gray;
	margin-top: 5px;
	overflow: hidden;
}
/*--------------------------------------------
------------AMERICAN FLAG---------------------
*/

.stars6 {
	color: #fff;
	font-size: 20%;
	line-height: 7px;
	letter-spacing: 3px;
	position: relative;
	top: 2px;
	left: 2px;
}

.stars5 {
	color: #fff;
	font-size: 20%;
	padding-left: 10px;
	line-height: 7px;
	letter-spacing: 3px;
}

.stripes {
	background-color: #f00;
	background-image: linear-gradient(transparent 50%, #fff 50%);
	background-size: 16px 17px;
}

.usa-blue {
	height: 68px;
	width: 100px;
	position: relative;
	top: 0px;
	left: 0px;
	background: #00f;
	overflow: hidden;
}


/*--------------------------------------------
------------JAPANESE FLAG---------------------
*/
.circle {
width: 75px;
height: 75px;
background: #f00;
border-radius: 50%;
margin: 25px 60px; 
}
/*--------------------------------------------
------------NORWEGIAN FLAG--------------------
*/
.nor-red {
	background: #F52F43;
	z-index: 1;
	position: relative;	
}

.vert-line {
	height: 125px;
	width: 15px;
	background: #3F4B72;
	margin: 0px 7.5px;
	position: relative;
	z-index: 4;
}

.vert-line-white {
	height: 125px;
	width: 30px;
	background: #fff;
	position: relative;
	left: 50px;
	top: -30px;
	z-index: 2
}

.horiz-line {
	height: 15px;
	width: 200px;
	background:#3F4B72;
	position: relative;
	top: 7.5px;
	z-index: 5
}

.horiz-line-white {
	height: 30px;
	width: 200px;
	background: #fff;
	position: relative;	
	top: 50px;
	}

/*----------------------------------------------
--------------ENGLAND'S FLAG--------------------
*/

.eng-blue {
	background: #042678;
	z-index: 1;
	position: absolute;
}

.vert-line-eng {
	height: 125px;
	width: 20px;
	background: #f00;
	position: relative;
	z-index: 100;
	top: -20px;
	left: 90px;
}

.vert-eng-white {
	background: #fff;
	height: 125px;
	width: 36px;
	position: relative;
	top: -145px;
	left: 82px;
	z-index: 50;
}

.horiz-line-eng {
    width: 100%;
    height: 20px;
    background-color: #f00;
    position: relative;
    top: 50px;
    z-index: 51;
    box-shadow: 0 0 0 7px #fff;
}

.upward-diag-eng {
        width: 238px;
        height: 108px;
        border-bottom: 20px solid #fff;
        -webkit-transform:
            translateY(-20px)
            translateX(5px)
            rotate(30deg); 
        position: relative;
        top: -297px;
        left: 2px;
        z-index: 20
    }

.upward-diag-eng-red {
        width: 238px;
        height: 108px;
        border-bottom: 7px solid #f00;
        -webkit-transform:
            translateY(20px)
            translateX(5px)
            rotate(-29deg);
        position: relative;
        top: -593px;
        right: 50px;
        z-index: 31;
    }

.downward-diag-eng {
        width: 238px;
        height: 108px;
        border-bottom: 20px solid #fff;
        -webkit-transform:
            translateY(20px)
            translateX(5px)
            rotate(-29deg);
        position: relative;
        top: -469px;
        right: 50px;
        z-index: 20;
    }

 .downward-diag-eng-red {
        width: 238px;
        height: 108px;
        border-bottom: 7px solid #f00;
        -webkit-transform:
            translateY(-20px)
            translateX(5px)
            rotate(-120deg); 
        position: relative;
        top: 112px;
        right: 53px;
        z-index: 300;
    }
