html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

.column {
    float: left;
    padding: 10px;
}
.column.one-third {
    width: 33.33%;
}
.column.one-half {
    width: 50%;
}

.row {
    width:100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}