html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
  	background-color: #252839;
  	/*border: 1px solid #e05038;*/
  	padding: 10px;
}

h3 {
	margin: auto;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    background-color: #b5b5b7;
    /*border: 1px solid #e05038;*/
  	padding: 10px;
}

.row {
    width:100%;
    background-color: #677077;
    /*border: 1px solid #e05038;*/
  	padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    background-color: #aa863a;
    /*border: 1px solid #e05038; < Do not use border and padding with content: ""; >
  	padding: 10px;*/	
}

.column {
    float: left;
    padding: 10px;
    background-color: #573401;
    /*border: 1px solid #e05038;*/
  	padding: 10px;
}

.column.one-half {
    width: 50%;
    background-color: #494992;
    /*border: 1px solid #e05038;*/
  	padding: 10px;
}

.column.one-third {
    width: 33.33%;
    background-color: #f2b632;
    /*border: 1px solid #e05038;*/
  	padding: 10px;
}

.column.two-third {
    width: 66.66%;
    background-color: #C17E81;
    /*border: 1px solid #e05038;*/
  	padding: 10px;
}

.column.one-fourth {
    width: 25%;
    background-color: #9E254D;
    /*border: 1px solid #e05038;*/
  	padding: 10px;
}

.column.two-fourth {
    width: 50%;
    background-color: #9E254D;
    /*border: 1px solid #e05038;*/
  	padding: 10px;
}

.column.one-sixth {
    width: 16.66%;
    background-color: #7A2316;
    /*border: 1px solid #e05038;*/
  	padding: 10px;
}

.column.three-sixth {
    width: 50%;
    background-color: #04902E;
    /*border: 1px solid #e05038;*/
  	padding: 10px;
}

.column.one-eighth {
    width: 12.5%;
    background-color: #337EBF;
    /*border: 1px solid #e05038;*/
  	padding: 10px;
}

.column.three-eighth {
    width: 37.5%;
    background-color: #009392;
    /*border: 1px solid #e05038;*/
  	padding: 10px;
}

.offset-one-half {
	margin-left: 50%;
}

.offset-one-third {
	margin-left: 33.33%;
}

.offset-two-third {
	margin-left: 66.66%;
}

.offset-one-fourth {
	margin-left: 25%;
}