/*-------------------
STANDARD FORMATTING
---------------------*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.row {
    width:100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
}

/*--------------------
FRAMEWORK BUILD OUT
----------------------*/
.column.one-third {
    width: 33.33%;
    background: #999;
    border: 2px solid #ff6600;
}
.column.one-half,
.column.two-fourth,
.column.three-sixth
 {
    width: 50%;
    background: #336666;
    border: 2px solid #000;
}

.column.one-fourth {
  width: 25%;
  background: #003366;
  border: 2px solid #fff666;
}

.column.one-sixth {
  width: 16.6666%;
  background: #ffcc00;
  border: 2px solid #9999cc;
}

.column.one-eighth {
  width: 12.5%;
    background: #6699ff;
    border: 2px solid #000099;  
}

.column.two-third {
    width: 66.6666%;
    background: #3300cc;
    border: 2px solid #ffff00;
}

.column.three-eighth {
    width: 37.5%;
    background: #cc0033;
    border: 2px solid #003399;
}

/*---------------------------
    OFFSETS
----------------------------*/
 
.offset-one-half {
    margin-left: 50%;
}

.offset-one-third {
    margin-left: 33.333%;
}

.offset-two-third {
    margin-left: 66.6666%;
}

.offset-one-fourth {
    margin-left: 25%;
}