
.red-box {
    background-color: red;
    height: 25%;
    padding: 1.5rem;
    float: left;
}

.green-box {
    background-color: green;
    height: 25%;
    padding: 1.5rem;
    float: left;
}

.blue-box {
    background-color: blue;
    height: 25%;
    padding: 1.5rem;
    float: left;
}

.orange-box {
    background-color: orange;
    height: 25%;
    padding: 1.5rem;
    float: left;
}

.purple-box {
    background-color: purple;
    height: 25%;
    padding: 1.5rem;
    float: left;
}

.clear {
    clear: both;
}


 /* 80% under 550px  and 30% over 550px*/
@media screen and (max-width: 550px) {
    .box {
        width: 80%; 
        margin: 1.5rem;
    }

    .top-bar {
        width: 100%;
        height: auto;
        padding: .5rem;
        background-color: gray;
        margin: .25rem;
    }
}

@media screen and (min-width: 551px) {
    .box {
        width: 30%;
        margin: .25rem;
    }

    .top-bar {
        height: 500px;
        width: 15%;
        padding: .5rem;
        background-color: gray;
        margin: .25rem auto;
        float: left;
    }
}

@media screen and (min-width: 800px) {
    .box {
        width: 25%;
        margin: .5rem;
    }
}
